body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:hsl(0, 0%, 100%)
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f7fff6;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: block;
    margin: 0 auto;
}
#main{
    font-family: outfit;
    text-align: center;
}
#name{
    font-family: outfit;
    text-align: center;
}
#prepairing{
    background-color: hsl(30, 18%, 87%)
    font-family: outfit;
    border-radius: 10px;
}
#prepairing h1{
    font-family: outfit;
    margin-left: 10px;
}
#ingredients{
    font-family: outfit;
    background-color: hsl(30, 10%, 34%)
    border-radius: 10px;
}
#ingredients h1{
    font-family: outfit;
    margin-left: 10px;
}
#ingredients p{
    font-family: outfit;
    margin-left: 10px;
}
#Instructions{
    font-family: outfit;
    background-color:hsl(24, 5%, 18%)
    border-radius: 10px;
}
#Instructions h1{
    font-family: outfit;
    margin-left: 10px;
}
#mi{
border-radius: 8px;
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}
#nutr{
    background-color: hsl(14, 45%, 36%)
    border-radius: 10px;
}
#nutr h1{
   font-family: outfit;
    margin-left: 10px;
}
#nutr p{
    font-family: outfit;
    margin-left: 10px;
}
#tablee{
    font-family: outfit;
    width: 100%;
    border-collapse: collapse;
}
#tablee th,td{
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }